/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ position:relative; }
.slider-wrapper.content{ margin-bottom:25px; }
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:65px;
	right:65px;
	top:50%;
	color:#452711;
	z-index:8;
	overflow: hidden;
	display: none;
	text-transform:uppercase;
	text-align:center;
	margin-top: -45px;
	text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.3);
}
.nivo-caption .small{
	display: block;
	font-size: 34px;
	text-transform: lowercase;
	font-weight:300;
	opacity:0;
	transform:rotateX(-180deg);
}
.nivo-caption .big{ font-size:45px; opacity:0; margin-top:30px; display:block; }
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
	height: 57px;
	width: 32px;
	background-image: url(../images/material/nav-slider.png);
	text-indent:-9999px;
}
.nivo-prevNav {
	left: 15px;
	background-position: left;
}
.nivo-nextNav {
	right: 15px;
	background-position: right;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	position:absolute;
	left:0;
	right:0;
	bottom:5px;
	z-index:101;
}
.nivo-controlNav a {
	cursor: pointer;
	text-indent: -9999px;
	display: inline-block;
	height: 10px;
	width: 10px;
	border: 1px solid #e4d2c6;
	margin-right: 2px;
	margin-left: 2px;
}
.nivo-controlNav a.active {
	background-color:#e4d2c6;
}