@charset "utf-8";
@media only screen and (max-width: 640px) {
/* Mobile styles */
body {
	padding-top: 0;
}
p {
	font-size: 12px;
	line-height: 16px;
}
.wrapper {
	width: auto;
	margin-right: 25px;
	margin-left: 25px;
}
.wrap_wide {
	margin-left: 20px;
	margin-right: 20px;
}
h2.title {
	font-size: 24px;
}
.btn.line {
	padding-left: 10px;
	padding-right: 10px;
}
.lang_search {
	margin-right: 10px;
}
header .menu .top .btn.red {
	margin-right: 50px;
	position: relative;
	top: 12px;
	display: inline-block;
}
.slider-wrapper,#banner-content{ margin-top:80px; }
#main-content.with-flower {
	background-image: none;
}
#welcome_text h1 {
	font-size: 24px;
}
#welcome_text p {
	margin-left: 0;
	margin-right: 0;
}
#thesay {
	background-image: none;
}
.nivo-caption .small {
	font-size: 24px;
}
.nivo-caption .big {
	font-size: 28px;
}
.nivo-directionNav a {
	display: none;
}
.animated, .list-animated li {
	opacity: 1;
}
#booknow {
	display: none;
	position: absolute !important;
	width: 100%;
	z-index: 1000;
	background-image: url(../images/material/bg-shadow-menu.png);
	background-repeat: repeat-x;
	padding-top: 50px;
	padding-bottom: 0px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #c41319;
	top: 80px;
	transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1);
}
#main-content .title-detail nav {
	float: none;
	margin-top: 10px;
}
#booknow input[type=text] {
	width: 340px !important;
	margin-bottom: 15px;
}
#booknow form {
	width: 370px;
	margin: 0 auto;
}
#booknow .select_custom {
	width: 344px;
	margin-bottom: 15px;
}
#booknow .label {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}
#booknow .label span {
	display: inline-block;
}
#booknow input[type=text] {
	font-size: 11px;
	width: 85px;
}
#booknow .datepicker {
	background-position: 95% center;
	width: 100px !important;
}
#booknow input[type=submit] {
	padding: 5px;
}
#booknow .arrow-up {
	display: block;
}
header .menu .top form, header .menu .top .phone {
	display: none;
}
.select_custom {
	padding: 8px;
	width: 65px;
	background-position: 95% center;
}
#booknow input[type=submit] {
	width: 358px;
	margin-left: 5px;
	margin-right: 5px;
}
#offer .link-arrow {
	display: none;
}
#our-location p {
	width: auto;
}
.main-menu {
	background-color: #f6e9df;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #c41319;
	border-top-width: 0;
	padding-top: 10px;
	background-image: url(../images/material/bg-shadow-menu.png);
	background-repeat: repeat-x;
}
.main-menu li {	
	display: block !important;
	width:49%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd2c9;
	border-right:0 !important;
	
}
.main-menu ul > li a.active{ padding-bottom:8px; }
.main-menu .arrow-up {
	text-align: center;
	margin-top: 15px;
	display: block;
}
.main-menu .arrow-up img {
	margin-bottom: -3px;
}
.select_custom ul {
	top: 30px;
}
#main-content .wording {
	width: auto;
}
.list-image li {
	width: 309px;
}
.list-room li .box {
	width: 175px;
	border: 0;
	top: 20px !important;
}
.list-room li .box h4 {
	font-size: 20px;
	margin-top: 0px;
	border: 1px solid #fff !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.list-room li .box p {
	font-size: 15px;
	line-height: 19px;
}
#main-content h5 {
	font-size: 18px;
}
.form_style {
	max-width: 335px;
	margin: 0 auto;
}
.form_style input[type=text] {
	width: 315px;
}
.alert-success {
	margin: 20px;
}
.alert-success h2 {
	font-size: 20px;
	padding-bottom: 7px;
	padding-top: 7px;
}
#data-table .icon-pdf {
	overflow: hidden;
	width: 65px;
	word-spacing: 100px;
	height: 17px;
	line-height: 20px;
}
.list-room li:nth-child(odd) .box {
	top: 50px;
	bottom: 20px;
	padding: 8px;
	left: 20px;
	margin: auto;
}
.list-room li:nth-child(even) .box {
	top: 50px;
	bottom: 20px;
	padding: 8px;
	right: 20px;
	margin: auto;
}
.list-room li .box h4 {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 300;
}
.list-room li .box p {
	display: none;
}
.form_style .long {
	width: 335px;
}
.form_style .right, .form_style .left {
	width: 100%;
}
.select-room {
	width: auto;
	max-width: 298px;
	margin: 0 auto;
}
.select-room li img {
	float: none;
}
.select-room li > div {
	margin-left: 0;
}
.form_style textarea {
	width: 320px;
}
.form_style > div > div input[type=submit] {
	float: none;
	margin-top: 10px;
	max-width: 100px;
}
.list-image.media {
	width: 635px;
	margin-left: auto;
	margin-right: auto;
}
.list-image.media li {
	margin-right: 0px !important;
}
.list-image.media li:nth-child(3n+3) {
	margin-right: 15px;
}
.list-image.media li:nth-child(2n+2), .list-download li:nth-child(2n+2) {
	margin-right: 0px;
}
.list-download {
	width: 665px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.list-download li:nth-child(3n+3) {
	margin-right: 30px;
}
.list_carousel {
	max-width: 311px;
	margin-left: auto !important;
	margin-right: auto;
}
#main-content .call .right {
	position: relative;
	float: none;
	margin-bottom: 20px;
	display: block;
	margin-top: 10px;
}
#main-content .call .right .btn {
	margin-bottom: 10px;
}
#main-content .title-detail {
	font-size: 20px;
}
#sitemap {
}
#sitemap div {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.list-image.media {
	width: 310px;
}
nav.media {
	width: auto;
}
nav.media a {
	font-size: 14px;
	width: 125px;
}
.list-download {
	width: 300px;
}
.list-download li {
	margin-right: 0;
}
#startup {
	max-width: 300px;
}
.pop-content ul li {
	float: none;
	width: auto;
}
.pop-content .call .right {
	position: relative;
	top: inherit;
	margin-bottom: 15px;
}
.select-room li img {
	width: 100%;
}
#thanks {
	margin-left: 50px;
	margin-right: 50px;
}
.fancybox-wrap {
	max-width: 380px;
}
.fancybox-inner {
	width: 100% !important;
}
.fancybox-inner .text {
	background-color: #fff;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.fancybox-inner .text p {
	position: relative;
}
footer div > div {
	display: block;
}
footer .center {
	position: absolute;
	top: 20px;
	left: 0;
	text-align: center;
	width: auto;
	right: 0;
}
footer .address, footer .subscribe {
	width: auto;
	text-align: center;
	margin-bottom: 10px;
}
footer .address {
	margin-top: 165px;
}
}
@media only screen and (max-width: 390px) {
.lang_search {
	display: none;
}
header .menu .top .btn.red {
	top: 25px;
}
#dragable {
	height: 300px;
}
.list_carousel {
	max-width: 227px;
}
#thesay .column {
	width: auto;
}
nav.media a {
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
}
nav.media a.active:after {
	display: none;
	border: 1px;
}
.list-image li, .list-image.home li {
	width: 220px;
}
.list-image li .images h4 {
	font-size: 12px;
}
.list_carousel .next {
	right: -30px;
	top: 190px;
}
.list_carousel .prev {
	left: -30px;
	top: 190px;
}
.list-image.media {
	width: 100%;
}
.list-image.media li {
	width: 100%;
}
.list-download {
	width: 100%;
}
.list-download li {
	width: 245px;
}
.fancybox-wrap #data-table .icon-pdf {
	position: relative;
	top: 0;
	margin-top: 10px;
}
.select-room li > div {
	height: auto;
}
.fancybox-wrap {
	max-width: 225px;
}
.fancybox-inner {
	width: 100% !important;
}
#booknow form {
	width: auto;
}
#booknow input[type=text] {
	width: 240px !important;
}
#booknow input[type=submit] {
	width: 262px;
}
#offer .list_carousel .prev, #offer .list_carousel .next {
	top: 65px;
}
}
@media only screen and (max-width: 350px)
{
.main-menu li {	
	display: block !important;
	width:100%;
	float:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd2c9;
}
}