/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
/*
	font weight 300  = Roboto Light
	font weight 400  = Roboto Regular
	font weight 700  = Roboto Bold
	font weight 900  = Roboto Ultra Bold
*/
body ::selection {
	background: #2CB3FF;
}
body ::-moz-selection {
 background: #2CB3FF;
}
body {
	color: #555;
	font-size: 12px;
	font-family: "Roboto";
	font-weight: 400;
	padding-top: 120px;
}
a {
	text-decoration: none;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.regular {
	font-weight: lighter;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
p {
	margin: 1px 0 15px;
	line-height: 20px;
	font-size: 15px;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
strong {
	font-weight: 700;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
.afterclear:after {
	content: '';
	display: block;
	clear: both;
}
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.wrap_wide {
	max-width: 1243px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.select_custom {
	background-color: #fff;
	border: 1px solid #cbb8aa;
	padding: 10px;
	width: 90px;
	background-image: url(../images/material/arrow-lang.png);
	background-position: 88px center;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	margin-right: 5px;
	margin-left: 5px;
}
.select_custom ul {
	position: absolute;
	left: 0px;
	top: 36px;
	right: 0px;
	background-color: #c20006;
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	border: 1px solid #cbb8aa;
	display: none;
	z-index: 12;
}
.select_custom ul li {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px;
}
h2.title {
	font-size: 30px;
	text-transform: uppercase;
	color: #573b26;
	text-align: center;
}
h2.title span {
	display: block;
	font-size: 15px;
	margin-top: 5px;
	text-transform: none;
}
.double_line {
	height: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c9bcb2;
	border-bottom-color: #c9bcb2;
}
.prevnext {
	padding-top: 15px;
	padding-bottom: 15px;
}
.prevnext a {
	font-size: 15px;
	text-transform: uppercase;
	color: #555;
}
.prevnext a:nth-child(1) {
	float: left;
	background-image: url(../images/material/arrow-left.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
.prevnext a:nth-child(2) {
	float: right;
	background-image: url(../images/material/arrow-right.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}
input[type=checkbox].css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 15px;
	display: inline-block;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/material/check_box.png);
	color: #999;
}
input[type=radio].css-checkbox {
	display: none;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left: 25px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
label.css-label {
	background-image: url(../images/material/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 15px;
}
.selector_form {
	display: inline-block;
	position: relative;
}
.selector_form:after {
	content: '';
	position: absolute;
	top: 9px;
	right: 10px;
	background-image: url(../images/material/arrow-lang.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 15px;
	height: 15px;
}
.selector_form select {
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	cursor: pointer;
}
.selector_form span {
	display: block;
	padding: 8px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.overflow_table {
	overflow: auto;
}
.animated, .list-animated li {
	opacity: 0;
}
/* style button
----------------------------------------------------------------------------------------------*/
.link-arrow {
	font-size: 15px;
	text-transform: uppercase;
	color: #555;
}
.link-arrow:after {
	content: url(../images/material/arrow-right.png);
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
}
.btn {
	display: inline-block;
	padding-top: 7px;
	padding-right: 25px;
	padding-bottom: 7px;
	padding-left: 25px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.btn.line {
	border: 1px solid #c41319;
	color: #c41319;
}
.btn.red {
	border: 1px solid #c41319;
	background-color: #c41319;
	color: #fff;
	font-weight: 700;
}
/* header
----------------------------------------------------------------------------------------------*/
header {
	position: fixed;
	width: 100%;
	z-index: 1001;
	background-color: #fff;
	top: 0;
}
header .logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
header .menu {
	float: right;
}
header .menu {
	margin-top: 20px;
}
header .menu .top {
	text-align: right;
}
header .menu .top .phone:before {
	content: url(../images/material/icon-phone.png);
	vertical-align: middle;
	margin-right: 5px;
	display: inline-block;
	margin-left: 10px;
}
header .menu .top .phone {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
header .menu .top .phone a {
	color: #555;
	font-size: 16px;
}
header .menu .top form {
	display: inline-block;
}
header .menu .top .btn.red {
	display: none;
}
header .menu .top .language {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #969696;
	position: relative;
}
header .menu .top .language select {
	opacity: 0;
	position: relative;
	z-index: 3;
	padding: 2px;
	width: 120px;
}
header .menu .top .language > div {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-image: url(../images/material/arrow-lang.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-align: left;
	padding: 5px;
	font-size: 12px;
	color: #666;
}
header .menu .top .search {
	border: 1px solid #cccccc;
	margin-left: 20px;
}
header .menu .top .search input {
	border: 0;
	background-color: transparent;
	width: 150px;
}
header .menu .top .search input[type=submit] {
	background-image: url(../images/material/icon-search.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 25px;
	padding-bottom: 3px;
}
#menu-mobile {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	cursor: pointer;
	display: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c9c9c9;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
}
#menu-mobile:after {
	content: url(../images/material/icon-menu.png);
	display: block;
	margin-top: 3px;
	text-align: center;
}
.lang_search {
	margin-right: 90px;
	display: none;
	margin-top: 30px;
	vertical-align: middle;
}
.lang_search > div {
	float: left;
}
.lang_search .lang {
	font-size: 16px;
	color: #555;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 20px;
}
.lang_search .lang a {
	color: #555;
}
.lang_search .lang a.active {
	color: #c41319;
}
.lang_search .search_mobile img {
	margin-top: -2px;
}
.main-menu {
	margin-top: 30px;
}
.main-menu .arrow-up {
	display: none;
}
.main-menu ul {
	padding: 0px;
	margin: 0px;
}
.main-menu ul > li {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	display: block;
	padding-bottom: 19px;
}
.main-menu ul > li a {
	font-size: 14px;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
}
.main-menu ul > li a.active {
	color: #c10006;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #c10006;
	padding-bottom: 14px;
}
.main-menu ul > li:hover ul {
	display: block;
}
.main-menu ul > li ul {
	display: none;
	position: absolute;
	background-color: #fff;
	top: 36px;
	z-index: 100;
	width: 170px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: -62px;
}
.main-menu ul > li ul li {
	float: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.main-menu ul > li ul li:hover {
	background-color: #b20006;
}
.main-menu ul > li ul li:hover a {
	color: #fff;
}
.main-menu ul > li ul li:last-child, .main-menu ul > li ul li:last-child a {
	border: 0;
}
.main-menu ul > li ul li:last-child:hover {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.main-menu ul > li ul li a {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-align: center;
}
.main-menu ul > li ul li a.active {
	border: 0;
}
header.float_on {
	position: fixed;
	width: 100%;
	z-index: 1001;
	background-color: #fff;
}
header.float_on .top {
/*overflow: hidden;*/
}
#search-mobile {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #960005;
	background-color: #fff;
	position: absolute;
	left: 0px;
	top: 80px;
	right: 0px;
	z-index: 1000;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	display: none;
	transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1);
}
#search-mobile input {
	border: 0;
	background-image: url(../images/material/icon-search-red.png);
	background-repeat: no-repeat;
	background-position: left center;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 14px;
}
/* middle
----------------------------------------------------------------------------------------------*/
#middle {
	position: relative;
}
#booknow {
	background-color: #f6e9df;
	padding-top: 15px;
	padding-bottom: 15px;
}
#booknow.float {
	position: fixed;
	width: 100%;
	top: 120px;
	z-index: 1000;
}
#booknow .label {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 14px;
	float: left;
	margin-top: 4px;
}
#booknow .label span {
	display: block;
}
#booknow .label.start {
	color: #0d0d0d;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #fff;
}
#booknow .label.start span {
	font-weight: 300;
}
#booknow .label.price {
	color: #c80006;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9e958f;
	padding-left: 10px;
	margin-right: 10px;
}
#booknow input {
	padding: 10px;
	border: 1px solid #cbb8aa;
	text-transform: uppercase;
}
#booknow input[type=text] {
	width: 200px;
	font-size: 12px;
	color: #3a3a3a;
	margin-left: 5px;
	margin-right: 5px;
}
#booknow input[type=submit] {
	color: #fff;
	background-color: #b20006;
	font-size: 14px;
	font-weight: 700;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #8e0005;
	width: 125px;
	padding: 8px;
}
#booknow .datepicker {
	background-image: url(../images/material/icon-calendar.png);
	background-repeat: no-repeat;
	background-position: 190px center;
}
#booknow .arrow-up {
	text-align: center;
	margin-top: 50px;
	display: none;
}
#booknow .arrow-up img {
	margin-bottom: -3px;
}
#welcome_text {
	text-align: center;
	padding-bottom: 60px;
	margin-top: 60px;
	position: relative;
}
#welcome_text h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #573b26;
	margin: 0px;
}
#welcome_text p {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 7px;
}
#welcome_text:after {
	background-image: url(../images/material/shadow.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: 29px;
	width: 100%;
	position: absolute;
	bottom: -29px;
	content: '';
}
#offer {
	position: relative;
	padding-bottom: 40px;
	padding-top: 40px;
}
#offer .link-arrow {
	position: absolute;
	top: 10px;
	right: 0px;
}
#offer .list_carousel {
	margin-top: 0px;
	background-image: none;
	padding: 0px;
}
#offer .list_carousel .prev, #offer .list_carousel .next {
	top: 120px;
}
.list-image {
	margin: 0px;
	padding: 0px !important;
	list-style-type: none;
	list-style-image: none !important;
}
.list-image li {
	float: left;
	width: 310px;
	margin-right: 1px;
	margin-bottom: 15px;
}
.list-image li .images {
	position: relative;
	overflow: hidden;
}
.list-image li .images img {
	margin-bottom: -3px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.list-image li .images:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/*css if ie*/
.list-image li .images .grey {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	background-image: url(../images/material/black80.png);
	background-repeat: repeat;
	z-index: 1;
}
.list-image li:hover .images .grey {
	display: none;
}
.list-image li .images h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px;
	position: absolute;
	bottom: 30px;
	border: 1px solid #fff;
	line-height: 13px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	z-index: 2;
}
.list-image li p {
	text-align: center;
	font-size: 13px;
	line-height: 15px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.list-image li p a {
	color: #555;
}
.list-image.home {
}
.list-image.home li {
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 25px !important;
	width: 300px;
}
.list-image.home li:nth-child(4n+4) {
	margin-right: 0px;
}
.list-image.media {
}
.list-image.media li {
	margin-right: 15px;
	margin-bottom: 15px !important;
}
.list-image.media li:nth-child(3n+3) {
	margin-right: 0px;
}
.list-image.media li h4 {
	bottom: -30px;
}
.list-image.media li .images .icon_play {
	margin: auto;
	height: 75px;
	width: 75px;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
	background-image: url(../images/material/icon_play.png);
}
#our-location {
	background-color: #eeeeee;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
#our-location .maps {
	border: 5px solid #fff;
	height: 240px;
}
#our-location h4 {
	font-size: 18px;
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#our-location p {
	width: 610px;
	margin-right: auto;
	margin-left: auto;
}
#thesay {
	background-image: url(../images/material/flower.png), url(../images/material/flower-10.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right bottom;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
#thesay .column {
	display: inline-block;
	width: 300px;
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: top;
	opacity: 0;
}
#thesay h2 {
	margin-top: 5px;
}
#thesay .column h4 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 7px;
}
#thesay .column p {
}
#thesay .column strong {
	font-style: italic;
	font-size: 13px;
}
#startup {
	max-width: 680px;
	padding: 20px;
}
#banner-content {
}
#banner-content img {
	width: 100%;
	margin-bottom: -3px;
}
#breadcumb {
	font-size: 14px;
	color: #999;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ececec;
}
#breadcumb a {
	font-size: 14px;
	color: #999;
}
section {
	position: relative;
}
#main-content {
	padding-bottom: 50px;
	padding-top: 20px;
}
#main-content.with-flower {
	background-image: url(../images/material/flower-content.png), url(../images/material/flower-content-06.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right 90%;
}
#main-content .wording {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#main-content h5 {
	color: #573b26;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
}
#main-content .title-detail {
	font-size: 30px;
	text-transform: uppercase;
	color: #573b26;
	margin-bottom: 30px;
}
#main-content .title-detail nav {
	float: right;
}
#main-content .title-detail nav img{ vertical-align:middle; }
#main-content .title-detail nav span{ font-size:14px; }
#main-content ul {
	list-style-image: url(../images/material/list-style.png);
	padding-left: 20px;
}
#main-content ul li {
	font-size: 15px;
	color: #555;
	margin-bottom: 5px;
}
#main-content ul.col-list {
	display: inline-block;
	width: 100%;
}
#main-content ul.col-list li {
	float: left;
	width: 50%;
}
#main-content .call {
	position: relative;
}
#main-content .call .right {
	position: absolute;
	right: 0px;
	top: 0;
}
#main-content .call .right span {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.paging {
	text-align: center;
	margin-top: 30px;
}
.paging a {
	font-size: 13px;
	color: #999;
	display: inline-block;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.paging a.active {
	background-color: #563a27;
	color: #fff;
}
.list_carousel {
	margin: 0;
	position: relative;
	background-image: url(../images/material/shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 40px;
	background-size: 100% 29px;
}
.list_carousel h5 {
	margin-bottom: 10px !important;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	padding: 0;
	margin: 5px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.list_carousel .prev {
	background-image: url(../images/material/nav-carousel.png);
	background-position: left;
	text-indent: -9999px;
	height: 45px;
	width: 27px;
	position: absolute;
	left: -35px;
	top: 235px;
}
.list_carousel .next {
	background-image: url(../images/material/nav-carousel.png);
	background-position: right;
	text-indent: -9999px;
	height: 45px;
	width: 27px;
	position: absolute;
	right: -35px;
	top: 235px;
}
.list-room {
	list-style-type: none;
	padding: 0px !important;
	list-style-image: none !important;
	margin-top: 50px;
}
.list-room li {
	position: relative;
}
.list-room li .images {
	overflow: hidden;
}
.list-room li .images img {
	margin-bottom: -3px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.list-room li:hover .images img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.list-room li .box {
	position: absolute;
	border: 2px solid #fff;
	padding: 20px;
	width: 215px;
	color: #fff;
	text-align: center;
}
.list-room li:nth-child(odd) .box {
	top: 20px;
	right: 20px;
	bottom: 20px;
}
.list-room li:nth-child(even) .box {
	top: 20px;
	left: 20px;
	bottom: 20px;
}
.list-room li .box h4 {
	font-size: 22px;
	font-weight: 700;
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;*/
	margin-bottom: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	margin-top: 0px;
}
.list-room li .box h4 a{ color:#fff; }
.list-room li .box p {
	font-size: 22px;
	font-weight: 300;
	line-height: 27px;
}
#data-table {
	position: relative;
}
#data-table table {
	border: 1px solid #dbdbdb;
	margin-top: 20px;
	margin-bottom: 50px;
}
#data-table table td {
	padding: 5px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
#data-table table thead td {
	background-color: #f4eee9;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #fff;
}
#data-table table thead td:last-child {
	border: 0;
}
#data-table table td {
	height: 40px;
}
#data-table table tbody td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbdbdb;
}
#data-table .icon-pdf {
	display: inline-block;
	font-size: 14px;
	color: #333;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 8px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #c4c4c4;
	border-right-color: #c4c4c4;
	border-bottom-color: #c4c4c4;
	border-left-color: #c4c4c4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 7px;
	padding-right: 13px;
	padding-bottom: 7px;
	padding-left: 35px;
	background-image: url(../images/material/icon-pdf.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	position: absolute;
	top: -10px;
	right: 0px;
}
.form_style {
}
.form_style h5 {
	text-transform: none !important;
	margin-bottom: 25px !important;
}
.form_style label {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
}
.form_style label span {
	color: #e3262c;
}
.form_style input[type=text] {
	padding: 8px;
	width: 430px;
}
.form_style .long {
	width: 448px;
}
.form_style textarea {
	padding: 8px;
	width: 430px;
	height: 107px;
}
.form_style label.chck {
	display: inline-block;
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.form_style select {
	padding: 8px;
}
.form_style > div > div {
	margin-bottom: 10px;
}
.form_style .double_line {
	margin-bottom: 20px;
	margin-top: 20px;
}
.select-room {
	list-style-image: none !important;
	padding: 0px !important;
	list-style-type: none;
}
.select-room li {
	border: 1px solid #e2e2e2;
	margin-bottom: 0px !important;
}
.select-room li.checked {
	border-color: #633c1f;
}
.select-room li img {
	float: left;
}
.select-room li > div {
	margin-left: 270px;
	position: relative;
	padding: 15px;
	height: 135px;
}
.select-room li > div h2 {
	font-size: 30px;
	color: #573b26;
	margin: 0px;
}
.select-room li > div span {
}
.select-room li > div p {
	margin-top: 15px;
}
.select-room li > div .radio {
	position: absolute;
	right: 7px;
	top: 7px;
}
.alert-success {
	text-align: center;
	margin: 100px;
}
.alert-success h2 {
	margin-bottom: 25px;
	background-image: url(../images/material/icon-success.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 50px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
#mapContact {
	height: 250px;
	border: 5px solid #f7f7f7;
	margin-top: 20px;
}
#sitemap {
	display: table;
	width: 100%;
}
#sitemap div {
	display: table-cell;
	width: 25%;
}
#sitemap div a {
	color: #777;
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
}
#sitemap div a.main {
	font-weight: 700;
	color: #555;
	margin-top: 15px;
}
#sitemap div a.sub {
}
#sitemap div a.child {
	margin-left: 10px;
}
nav.media {
	display: block;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
nav.media a {
	border: 1px solid #b7b7b7;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	color: #333;
	float: left;
	text-align: center;
	padding: 7px;
	width: 200px;
}
nav.media a.active {
	font-weight: 700;
	color: #b20006;
	border-top-color: #b20006;
	border-right-color: #b20006;
	border-bottom-color: #b20006;
	border-left-color: #b20006;
	position: relative;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}
nav.media a.active:after {
	content: '';
	width: 18px;
	height: 15px;
	position: absolute;
	bottom: -13px;
	left: 50%;
	background-image: url(../images/material/arrow-media.png);
}
.list-download {
	list-style-type: none;
	margin: 0px;
	padding: 0px !important;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	list-style-image: none !important;
}
.list-download li {
	float: left;
	width: 215px;
	margin-right: 30px;
	margin-bottom: 30px !important;
}
.list-download li:nth-child(4n+4) {
	margin-right: 0px;
}
.list-download li .wrap {
	position: relative;
	border: 1px solid #e5e5e5;
	padding: 15px;
	height: 200px;
}
.list-download li .wrap:hover {
	border-color: #b20006;
}
.list-download li .time {
	color: #8c8c8b;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.list-download li h4 {
	margin: 0px;
	color: #434244;
	font-size: 18px;
	font-weight: 700;
}
.list-download li a {
	color: #b20006;
	font-size: 12px;
	background-image: url(../images/material/icon-pdf.png);
	padding-left: 20px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 15px;
	left: 15px;
	display: inline-block;
	padding-bottom: 2px;
	padding-top: 2px;
	font-weight: 700;
	text-decoration: underline;
}
.pop-content {
}
.pop-content h4 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #b20006;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.pop-content ul {
	padding-left: 20px;
	list-style-image: url(../images/material/list-style.png);
	display: inline-block;
	width: 100%;
}
.pop-content ul li {
	font-size: 15px;
	margin-bottom: 5px;
	float: left;
	width: 50%;
}
.pop-content .call {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c9bcb2;
	border-bottom-color: #c9bcb2;
	position: relative;
	padding-top: 15px;
}
.pop-content img {
	margin-bottom: 15px;
}
.pop-content .call h5 {
	font-size: 15px;
	text-transform: uppercase;
	color: #573b26;
	font-weight: 700;
	margin: 0px;
}
.pop-content .call .right {
	position: absolute;
	right: 0px;
	top: 18px;
}
.pop-content .note {
	font-size: 11px;
	line-height: 13px;
	margin-top: 15px;
}
#thanks {
	max-width: 450px;
	margin-top: 50px;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-left: 100px;
}
#thanks p {
	text-align: center;
	margin-top: 20px;
}
#dragable {
	height: 510px;
	position: relative;
	overflow: hidden;
	background-color: #999;
	z-index:1;
	margin-bottom:30px;
}
#dragable .box {
	position: absolute;
	background-color: #f00;
	opacity: 0;
	z-index: 1;
	width:100%;
	height:100%;
}
#dragable .box img{ width:100%; height:100%; }
#dragable .box.show {
	opacity: 1;
	z-index: 2;
}
#dragable nav {
	position: absolute;
	z-index: 3000;
	text-align: center;
	width: 100%;
	bottom: 20px;
}
#dragable nav a {
	cursor: pointer;
	text-indent: -9999px;
	display: inline-block;
	height: 10px;
	width: 10px;
	border: 1px solid #e4d2c6;
	margin-right: 2px;
	margin-left: 2px;
}
#dragable nav a.active{
	background-color:#e4d2c6; 
}
#dragable .arrow{
	position: absolute;
	z-index: 3000;
	top: 50%;
	height: 30px;
	width: 30px;
	text-indent: -9999px;
	background-image: url(../images/material/arrow-pan.png);
	display:none;
}
#dragable:hover .arrow{ display:block; }
#dragable .arrow.prev{
	left: 0px;
	background-position: -33px;
}
#dragable .arrow.next{ right:0px; background-position: -60px; }
#dragable .icon-drag{
	margin: auto;
	height: 76px;
	width: 76px;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url(../images/material/dragtopan.png);
	z-index: 1030;
	display:block;
}
#dragable:hover .icon-drag{ display:none; }
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	background-color: #f6e9df;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #563a27;
	padding-top: 30px;
	padding-bottom: 15px;
}
footer div > div {
	display: table-cell;
	vertical-align: top;
}
footer .center {
	width: 140px;
	text-align: center;
}
footer .center p {
	text-transform: uppercase;
	font-size: 12px;
}
footer .center p span {
	display: block;
	text-transform: capitalize;
	color: #563a27;
	margin-top: 5px;
}
footer .address {
	width: 435px;
}
footer .address p {
	font-size: 13px;
}
footer .address p a {
	display: block;
	color: #555;
	margin-bottom: 5px;
}
footer .address p a img {
	vertical-align: middle;
	margin-right: 7px;
}
footer .address strong {
	display: block;
	text-transform: uppercase;
}
footer .address nav a {
	font-size: 11px;
	text-transform: uppercase;
	color: #777;
	margin-right: 10px;
}
footer .subscribe {
	text-align: right;
	width: 435px;
}
footer .subscribe .socmed {
	display: inline-block;
	margin-bottom: 5px;
}
footer .subscribe .socmed a {
	margin-left: 5px;
}
footer .subscribe form {
	margin-top: 10px;
}
footer .subscribe form label {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
footer .subscribe form input[type=text] {
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 7px;
}
footer .subscribe form input[type=submit] {
	color: #fff;
	background-color: #b20006;
	font-size: 14px;
	font-weight: 400;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #8e0005;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
