@charset "utf-8";
 @media screen and (max-width:1290px) {
/* Tablet styles */
body{ padding-top:80px; }
.wrapper {
	width: auto;
	max-width: 960px;
	padding-left:15px;
	padding-right:15px;
}
.wrap_wide {
	width: auto;
	max-width: 935px;
}
#menu-mobile, .lang_search {
	display: inline-block;
}
header .menu {
	margin-top: 0px;
}
header.float_on .top {
	display: block;
}
header .logo {
	width: 70px !important;
}
#booknow.float {
	top: 80px;
}
header .menu .top .phone {
	margin-top: 25px;
}
header .menu .top form {
	display: none;
}
#booknow input[type=text]{ width:190px; }
.main-menu {
	position: absolute;
	right: 0px;
	left: 0;
	z-index: 1001;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
	top: 50px;
	border-top-width: 5px;
	border-top-style: solid;
	opacity: 0;
	border-top-color: #960005;
	display: none;
	-webkit-perspective: 1500px; /* Chrome, Safari, Opera */
	perspective: 1500px;
	transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1);
}
.main-menu ul {
	display: table;
	width: 100%;
}
.main-menu ul > li:hover ul {
	display: none;
}
.main-menu ul > li a {
	display: block;
	text-align: center;
	font-size: 13px;
	padding: 8px;
}
.main-menu ul > li a.active {
	border: 0;
	padding-bottom: 0;
}
.main-menu ul li {
	padding-bottom: 5px;
	padding-top: 5px;
	display: table-cell;
	min-width: 12.9%;
	margin: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
}
.main-menu ul li:last-child {
	border: 0;
}
.list-image.home li:nth-child(4n+4) {
	margin-right: 1px;
}
.list-image.content {
	text-align: center;
}
.list-image.content li {
	float: none;
	display: inline-block;
	margin-right: -1px;
}
.fancybox-inner .text {
background-color:#fff;
margin-left:-15px;
margin-right:-15px;
padding:15px;
-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
}
}
 @media screen and (min-width:481px) and (max-width:899px) {
/* Tablet styles */
.wrapper {
	width: auto;
	margin-right: 25px;
	margin-left: 25px;
}
.wrap_wide {
	margin-left: 64px;
	margin-right: 64px;
}
.btn.line {
	padding-left: 10px;
	padding-right: 10px;
}
#booknow .label {
	display: none;
}
#booknow input[type=text] {
	font-size: 11px;
	width: 85px;
}
#booknow .datepicker {
	background-position: 95px center;
	width: 100px !important;
}
#booknow input[type=submit] {
	padding: 5px;
}
.select_custom {
	padding: 8px;
	width: 65px;
	background-position: 61px center;
}
#booknow input[type=submit] {
	width: 117px;
}
.select_custom ul {
	top: 30px;
}
.list-image li {
	width: 309px;
}
#main-content .wording {
	width: auto;
}
.list-room li .box {
	width: 175px;
}
.list-room li .box h4 {
	font-size: 20px;
	margin-top: 0px;
}
.list-room li .box p {
	font-size: 15px;
	line-height: 19px;
}
.form_style input[type=text] {
	width: 315px;
}
.form_style .long {
	width: 335px;
}
.form_style .right, .form_style .left {
	width: 48%;
}
.alert-success {
	margin: 80px;
}
.form_style textarea {
	width: 320px;
}
.form_style > div > div input[type=submit] {
	float: none;
}
.list-image.media {
	width: 635px;
	margin-left: auto;
	margin-right: auto;
}
.list-image.media li:nth-child(3n+3) {
	margin-right: 15px;
}
.list-image.media li:nth-child(2n+2), .list-download li:nth-child(2n+2) {
	margin-right: 0px;
}
.list-download {
	width: 665px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.list-download li:nth-child(3n+3) {
	margin-right: 30px;
}
.list_carousel {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
#startup {
	max-width: 550px;
}
#thanks {
	margin-left: 50px;
	margin-right: 50px;
}

}
